@use "./../utils/vars" as *;
@use "./../utils/mixins" as *;
@use "./../utils/globals" as *;

.head {
  background: var(--white);
  box-sizing: border-box;
  justify-content: space-between;
  height: 70px;

  @include tablet {
    height: 72px;
  }

  @include desktop {
    height: 72px;
  }

  .border {
    box-shadow: $hdsd1, $hdsd2, $hdsd3;
  }

  &__web-logo {
    display: flex;
    align-items: center;
  }
}

.container h2 {
  margin: 0;
}
