@use "./../utils/vars" as *;
@use "./../utils/mixins" as *;
@use "./../utils/globals" as *;

.border {
  box-shadow: $hdsd1, $hdsd2, $hdsd3;
}

.head {
  background: var(--white);
  box-sizing: border-box;
  justify-content: space-between;
  height: 70px;

  @include tablet {
    height: 72px;
  }

  @include desktop {
    height: 72px;
  }

  &__logo {
    display: flex;
    align-items: center;

    @include logo;

    &--web {
      color: $iris;
    }
  }
}

.container h2 {
  margin: 0;
}
